* {
    text-align: center;
    box-sizing: border-box;
}

.container {
    background-color: #45474B;
    height: 400px;
    width: 500px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}

#submit {
    background-color: #F4CE14;
    border: 0px;
    border-radius: 10px;
    font-weight: bold;
    font-size: larger;
    padding: 10px 20px;
    width: 250px;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
    font-family: "Noto Sans", sans-serif;
}

body {
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #495E57;
}

#input {
    padding: 10px;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    border: none;
    border-radius: 10px;
    color: black;
    font-size: 25px;
}

#submit:hover {
    opacity: 0.8;
}

h1 {
    color: #F5F7F8;
    font-size: 35px;
    font-family: "Roboto", sans-serif;
}

p {
    color: #F5F7F8;
    font-size: larger;
    font-family: "Noto Sans", sans-serif;
}

label {
    color: #F5F7F8;
    font-size: larger;
    font-family: "Noto Sans", sans-serif;
}